@import '../utils/_variables';

//Styling Header Component

.header {
    width:100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    justify-content:space-between ;
.header__logo {
    display: flex;
display: flex;
gap: 10px;
align-items: center;
justify-content: center;

.header__pic {
    width: 40px;
    height: 40px;
    background-image: url('https://res.cloudinary.com/albenis/image/upload/v1629466276/personalpic2_v00iao.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 500px;
}

h4 {
    color:$black;
    font-weight: 650;
}

img {
    display: block;
width:40px;
height:40px;
    border-radius: 400px;
}

}

.header__nav {
    display: flex;
    flex-basis: auto;
    align-items: center;
    justify-content: center;

    ul {
        list-style: none;
padding: 0;
margin: 0;
        padding-inline-end: 0px;
        padding-inline-start: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

.header__navlink {
    padding: 10px;
   
}
a {
    font-size: 20px;
    text-decoration: none;
    color: $lightblack;
    margin: 10px ;
}


}


}



