@import '../utils/_variables';

.hero {
    width: 100%;
    background-color: transparent;
    min-height: 300px;
    display: flex;
    align-items: flex-start;
    padding: 20px 0;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    .hero__text {
        background-color: transparent;
        margin: 0 10px;
        .hero__title {
            font-size:2.2rem;
            color: $lightblack;
        }
    }

    .hero__paragraph {
        font-size: 1.5rem;
        margin:0 10px;
        color: $lightgrey;
        line-height: 35px;

    }

}

@media (max-width:768px) {
    .hero {
        width: 100%;
        max-width: 100%;
        display:flex;
        align-items: center;
padding: 20px 0;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        .hero__text {
            .hero__title {
                font-size:1.5rem;
            }
            
        }
        .hero__paragraph {
                font-size: 1rem;
                margin:0!important;

            }
     
    }
   
    
}

