.textwrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 500;
}

.text-lg {
    padding: 20px 0;
    font-weight: 500;

    font-size: 40px;
    color: black;
}

.text-md {
    padding: 15px 0 ;
    font-size: 30px;
    color: black;
    font-weight: 500;

}

.text-sm {
    padding: 10px 0;
    font-size: 20px;
    font-weight: 500;

    color: black;
}