@mixin flexrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@mixin flexcolumn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}