$graywhite:#F9FAFB;
$lightblack:#1F2937;
$lightgrey:#7B7A7A;
$white:#fff;
$bgcolor:#fff;
$black:#000;
$darkorange :#f95656; //fallback: #F34945;
$darkblue:#1E69F6;
$darkpink:#EB404E;
$lightorange:#FCE8EE;





