@import './utils/_variables';


* {
  margin:0;
  padding:0;
}


body {
  font-family: "Nunito", sans-serif;
  list-style-type: none;
}

.App {
  width:100%;
  display: flex;
  align-items: center;
  background-color: $bgcolor;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}






.AppDark {
  display: flex;
  --bgcolor:red!important;
}

.App__Container {
  width: 100%;
  max-width: 72%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

}

@media (max-width:960px) {
  
  .App__Container {
    width: 100%;
    max-width:100%;
  }

  h1,h2,h4,p {
    padding: 1.5rem;
  }
}

@media (max-width:480px) {
  h1,h2,h4,p {
    padding: 0.5rem;
  }
  
}