@import './utils/_variables';



* {
  margin:0;
  padding:0;
}



body {
  font-family: "Nunito", sans-serif;
  list-style-type: none;
}

.App {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.App__Container {
  width: 100%;
  max-width: 72%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

}

@media (max-width:960px) {
  .App__Container {
    width: 100%;
    max-width:100%;
  }
}